[submodule "NFD"]
	path = NFD
	url = https://github.com/AaronTien/NFD
	branch = NFD-0.4.1-ndnSIM
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/AaronTien/ndn-cxx
	branch = ndn-cxx-0.4.1-ndnSIM
